html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

#div_main_container{
  display: flex;
  flex-direction: column;
}

#div_menu_layout, .div_buglist{
  display: flex;
  flex-direction: row;
}

.div_buglist{
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}


thead th {
  position: sticky;
  top: 0;
  background-color: #f7e3cd; 
  z-index: 1; 
  padding-top: 9px;
  padding-bottom: 9px;
}
td{
  padding-top: 9px;
}
.table_generic{
  width: 96%;
  align-items: center;
  border-collapse: collapse;
  margin-left: 2%;
  margin-right: 2%;
}
.table_th_header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table_th_searchbar{
  width: 100px;
  margin: 0;
  padding: 0;
}
tbody tr {
  border-bottom: 1px solid #ddd;
}
tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
tbody tr:hover {
  background-color: #f1f1f1;
}
th, td {
  padding: 18px;
  text-align: center;
  user-select: none;
  max-width: 150px;
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  white-space: nowrap;
}
.td_id, .td_assigned_to, .td_priority, .td_due_date, .td_status{
  max-width: 120px;
  min-width: 120px;
  width: 120px;
}
.td_id{
  cursor: pointer;
}

.td_description, .td_project{
  max-width: 250px;
  min-width: 250px;
  width: 250px;
}
.td_id:active{
  background-color: #dbdbdb;
}
.div_buglist_title_bar{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 2%;
}
.div_buglist_box{
  width: 90%;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 70px;
  font-family: Tahoma;
  font-size: 14px;
  font-weight: bold;
}
.div_buglist_box_inside{
  width: 100%;
  max-height: 350px;
  min-height: 350px;
  overflow: auto;
}
.div_buglist_box_inside::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}
.div_buglist_box_inside::-webkit-scrollbar-thumb {
  background-color: #d6b99b;
  border-radius: 10px;
}
.div_buglist_box_inside::-webkit-scrollbar-track {
  width: 10px;
}


.menu_button{
  border: 0;
  font-weight: bold;
  padding-right: 25px;
  padding-left: 25px;
  background-color:#f7e3cd;
  font-family: Tahoma;
  font-size: 15px;
  border-radius: 10px;
}
.menu_button:hover, th:hover{
  background-color: #d6b99b;
}
.menu_button:active, th:active{
  background-color: #cfaa82;
}


#hr_menu{
  position: relative;
  left: 0;
  right: 0;
  border: none;
  border-top: 1px solid #000;
  border-width: 2px;
  width: 100%;
  top: 0%;
  padding: 0;
  margin: 0;
}

#div_menu_container{
  background-color:#f7e3cd;
  width: 100%;
  margin-right: 30px;
}

#div_title{
  display:flex;
  align-items: center;
  margin-right: 50px;
}

#span_menu_title{
  font-size: 35px;
  font-weight: bold;
  display: inline-block;
  width: 270px;
  text-align: center;
  font-family: Tahoma;
  margin-right: 10px;
}

#img_bug{
  width: 40px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}








#top_section, #bottom_section{
  width: 100%;
  display: flex;
}
#top_section {
  height: 30vh;
}
#bottom_section {
  height: 63vh;
}

#top_left_section {
  flex-direction: row;
  background-color: #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 10px solid #ddd;
  border-top: 10px solid #ddd;
}
#top_right_section, #bottom_left_section, #bottom_right_section {
  flex-direction: column;
  padding: 10px;
  border: 10px solid #ddd;
}
#top_left_section, #top_right_section, #bottom_left_section, #bottom_right_section {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
#top_left_section, #bottom_left_section {
  width: 70%;
}
#top_right_section, #bottom_right_section {
  width: 30%;
}

.stat_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 5px solid #ddd;
  margin: 5px;
  height: 100%;
  background-color: #fff;
}
.stat_box img {
  width: 70px;
  height: 70px;
}
.stat_counter, .stat_text {
  font-size: 20px;
  font-weight: bold;
  font-style: Tahoma;
  color: #757575;

}

.dashboard_title {
  font-size: 28px;
  font-style: Tahoma;
  font-weight: bold;
  color: #757575;
}
#table_tickets_by_priority {
  width: 80%;
  border-collapse: collapse;
  position: absolute;
  top: 140px;
}
#table_tickets_by_priority td {
  padding: 8px;
  text-align: left;
  width: 60%;
  font-size: 18px;
  font-weight: bold;
  color: #757575;
}
#table_tickets_by_priority tr {
  border: 1px solid #ddd;
}



.piecharts_container_top, .piecharts_container_bottom {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.piecharts_container_top {
  position: absolute;
  top: 120px;
}
.piecharts_container_bottom {
  position: absolute;
  top: 360px;
}
.pie-chart-container {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(#ddd 0% 73%, #d6b99b 73% 100%);
}
.pie-chart-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pie-chart-inner p {
margin: 0;
}



#owner_list {
  list-style-type: none;
  padding: 0;
  width: 80%;
  position: absolute;
  top: 120px;
}
#owner_list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
#owner_list li span:first-child {
  width: 20%;
  text-align: left;
}
#owner_list li progress {
  flex: 1;
  height: 20px;
  margin: 0 10px;
  appearance: none;
}
#owner_list li progress::-webkit-progress-bar {
  background-color: #ddd;
  border-radius: 10px;
}
#owner_list li progress::-webkit-progress-value {
  background-color: #d6b99b;
  border-radius: 10px;
}
#owner_list li span:last-child {
  width: 10%;
  text-align: right;
}
.p_tickets_by_owner_name {
  margin-top: 3px;
  margin-bottom: 3px;
  width: 70px;
  max-width: 70px;
  font-size: 18px;
}


.div_section {
  position: relative;
}
.div_dashboard_title {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20px;
  width: 100%;
}
